<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="internalOnly">
  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.RECEIVE_MMS" />
  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <queries>
    <package android:name="org.sufficientlysecure.keychain" />
    <intent>
      <action android:name="org.openintents.openpgp.IOpenPgpService2" />
    </intent>
  </queries>
  <application android:name=".App" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:defaultToDeviceProtectedStorage="false" android:directBootAware="false" android:enableOnBackInvokedCallback="false" android:fullBackupContent="@xml/backup_descriptor" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="false" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DataExtractionRules,LockedOrientationActivity,UnusedAttribute" android:allowBackup="false" tools:replace="android:allowBackup">
    <meta-data android:name="ScopedStorage" android:value="true" />
    <activity android:name=".activity.SplashActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:excludeFromRecents="true" android:exported="true" android:screenOrientation="portrait" android:taskAffinity=":splash" android:theme="@style/AppTheme.Launch.App" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi,TranslucentOrientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.MainActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi" />
    <activity android:name=".activity.ClientActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:launchMode="singleInstance" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi" />
    <activity android:name=".activity.TaskActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:launchMode="singleInstance" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi" />
    <activity android:name=".core.webview.AgentWebActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:hardwareAccelerated="true" android:label="@string/app_browser_name" android:theme="@style/AppTheme">
      </activity>
    <activity android:name=".core.BaseActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi" />
    <activity android:name=".core.webview.WebViewInterceptDialog" android:exported="false" android:screenOrientation="portrait" android:theme="@style/DialogTheme" tools:ignore="DiscouragedApi" />
    <activity android:name=".core.XPageTransferActivity" android:configChanges="screenSize|keyboardHidden|orientation|keyboard" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden" tools:ignore="DiscouragedApi" />
    <meta-data android:name="design_width_in_dp" android:exported="true" android:value="360" />
    <meta-data android:name="design_height_in_dp" android:exported="true" android:value="640" />
    <service android:name=".service.BluetoothScanService" android:enabled="false" android:exported="false" />
    <service android:name=".service.ForegroundService" android:enabled="true" />
    <service android:name=".service.HttpServerService" android:enabled="false" android:exported="false" />
    <service android:name=".service.LocationService" android:enabled="false" android:foregroundServiceType="location" android:exported="false" />
    <service android:name=".service.NotificationService" android:enabled="true" android:exported="false" android:label="@string/app_name" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>
    <receiver android:name=".receiver.BatteryReceiver" android:exported="false" android:enabled="false">
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_CHANGED" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.BluetoothReceiver" android:exported="false" android:enabled="false">
      <intent-filter>
        <action android:name="android.bluetooth.device.action.FOUND" />
        <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
        <action android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED" />
        <action android:name="android.bluetooth.adapter.action.LOCAL_NAME_CHANGED" />
        <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
        <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
        <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
        <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.BootCompletedReceiver" android:defaultToDeviceProtectedStorage="true" android:directBootAware="false" android:exported="false" tools:ignore="IntentFilterExportedReceiver">
      <intent-filter android:priority="2147483647">
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.intent.action.PACKAGE_RESTARTED" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.CallReceiver" android:exported="false" tools:ignore="IntentFilterExportedReceiver" android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.PHONE_STATE" />
        <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.LockScreenReceiver" android:exported="false" android:enabled="false">
      <intent-filter>
        <action android:name="android.intent.action.SCREEN_OFF" />
        <action android:name="android.intent.action.SCREEN_ON" />
        <action android:name="android.intent.action.ACTION_USER_PRESENT" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.NetworkChangeReceiver" android:enabled="false" android:exported="false" android:permission="android.permission.READ_PHONE_STATE">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" tools:ignore="BatteryLife" />
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED" tools:ignore="BatteryLife" />
        <action android:name="android.net.wifi.STATE_CHANGE" tools:ignore="BatteryLife" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.SimStateReceiver" android:enabled="false" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.SIM_STATE_CHANGED" />
      </intent-filter>
    </receiver>
    <receiver android:name=".receiver.SmsReceiver" android:exported="true" android:permission="android.permission.BROADCAST_SMS" tools:ignore="IntentFilterExportedReceiver">
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.OppoSpeechAssist.SMS_RECEIVED" />
        <action android:name="android.provider.Telephony.SMS_DELIVER" />
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
        <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
        <data android:mimeType="application/vnd.wap.mms-message" />
      </intent-filter>
    </receiver>
    <provider android:name="androidx.startup.InitializationProvider" android:authorities="${applicationId}.androidx-startup" android:exported="false" tools:node="merge">
      <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup" tools:node="remove" />
    </provider>
    <activity android:name=".activity.ConfigurationBackupActivity" android:exported="false" android:label="설정 백업 · 복원" />
  </application>
  <uses-permission android:name="android.permission.GET_TASKS" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.CALL_PHONE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.READ_CALENDAR" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.CAMERA" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.FLASHLIGHT" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:node="remove" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.READ_CALL_LOG" />
</manifest>